{% extends 'miseem_base.html' %}

{% block content %}
    <div>
        <h3>{{ head }}</h3>
        <text>Waiting to be filled!</text>
        <hr>
    </div>
{% endblock content %}

{% block form %}
    
{% endblock form %}

{% block button %}
    <div>
        {% if current != 3 %}
        <a href={% url 'example' current|add:1 %}>
                <button>Understand and next!</button>
            </a>
        {% else %}
            <a href={% url 'quiz' %}>
                <button>Understand and next!</button>
            </a>       
        {% endif %}
    </div>
{% endblock button %}
