{% extends 'miseem_base.html' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ head }}
            </h3>
        </div>
        <div class="panel-body">
            Waiting to be filled!
        </div>
    </div>
{% endblock content %}

{% block form %}
    <form action={% url 'miseem:example' current %} method="post" class="panel panel-default">
        <div class="panel-body">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </div>
    </form>
{% endblock form %}

{% block url %}
    {% if current != 3 %}
    {% url 'miseem:example' current|add:1 %}
    {% else %}
    {% url 'miseem:quiz' %}
    {% endif %}
{% endblock url%}
{% block button %}Understand and continue!{% endblock button %}
