{% extends 'miseem_base.html' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Introduction
            </h3>
        </div>
        <div class="panel-body">
		<p>
		This study compares three different evaluation methods, pointwise, pairwise and listwise.
		Each task contains one question and several answers, you need to give absolute score, relative score or rank score by instruction.
		You should handle exactly 32 tasks to get your money.
		</p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Consent
            </h3>
        </div>
        <div class="panel-body">
            <p>
	    You are being asked to be a volunteer in a research study. Indicate your consent by reading the following document and then clicking the button below.
	    </p>
	    <p>
	    PURPOSE<br>
	    This study compares three different evaluation methods, pointwise, pairwise and listwise. You must be 18 years or older to participate.
            </p>
	    <p>
	    PROCEDURES<br>
	    If you decide to be in this study, your part will involve:
	    This study will take ten to fifteen minutes.
	    You will answer questions using a computer.
	    You will participate in an experiment that has real money at stake.
            </p>
	    <p>
	    RISKS / DISCOMFORTS<br>
	    The following risks/discomforts may occur as a result of you being in this study:
	    There are no foreseeable risks or discomforts associated with your participation in this study.
            </p>
	    <p>
	    PAYMENT TO YOU<br>
	    You will be paid $0.64 for participating in this study.
	    </p>
	    <p>
	    BENEFITS<br>
	    There is no direct benefit expected as a result of you being in this study aside from monetary compensation.
            </p>
	    <p>
	    CONFIDENTIALITY<br>
	    Protecting Your Privacy in this Study
	    All the information we get about you will be kept private.
	    We will do this by not writing down your name or anything else that could link you in any way
	    to the answers you give us for our study. All the study data that we get from you will be kept locked up.
	    If any papers and talks are given about this research, your name will not be used. All data from this study are collected anonymously.
            </p>
	    <p>
	    COSTS TO YOU<br>
	    There are no foreseeable costs to you for your participation in this study.
            </p>
	    <p>
	    ALTERNATIVES<br>
	    Your alternative to being in this study is to simply not participate.
            </p>
	    <p>
	    YOUR RIGHTS AS A RESEARCH SUBJECT<br>
	    Your participation in this study is voluntary.
	    You do not have to be in this study if you don't want to be.
	    You have the right to change your mind and leave the study at any time without giving any reason, and without penalty.
	    Any new information that may make you change your mind about being in this study will be given to you.
	    You do not lose any of your legal rights by signing this consent form.
            </p>
	    <p>
	    QUESTIONS ABOUT THE STUDY OR YOUR RIGHTS AS A RESEARCH SUBJECT<br>
	    If you have any questions, concerns, or complaints about the study, you may contact Charlie, charlie@pku.edu.cn.
	    </p>
        </div>
    </div>
{% endblock content %}

{% block url %}{% url 'miseem:example' 1 %}{% endblock url%}
{% block button %}
    <button type="button" class="btn btn-default">Agree and continue</button>
{% endblock button %}
