{% extends 'miseem_base.html' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Introduction
            </h3>
        </div>
        <div class="panel-body">
            context
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Consent
            </h3>
        </div>
        <div class="panel-body">
            <p>context</p>
        </div>
    </div>
{% endblock content %}

{% block url %}{% url 'miseem:example' 1 %}{% endblock url%}
{% block button %}
    <button type="button" class="btn btn-default">Agree and continue</button>
{% endblock button %}
