{% extends 'miseem_base.html' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Task
            </h3>
        </div>
        <div class="panel-body">
            <text>Here should be a label task!</text>
            <text>Waiting to be filled!</text>
            <text>We need a timer here!</text>
            <text>If less than a fixed time, we jump to the sample page again!</text>
            <text>If more than a fixed time, we jump to the last page thanks!</text>
        </div>
    </div>
{% endblock content %}

{% block url %}{% url 'thanks' %}{% endblock url%}
{% block button %}Finish and continue!{% endblock button %}