{% extends 'base.html' %}

{% load static %}

{% block head %}
    <h1>Here is the favicon!</h1>
    <img src = "{% static "images/icon.jpg" %}"
{% endblock head %}

{% block body %}
    <div>
        <a>Home</a>
        <a>People</a>
        <a>Publication</a>
        <a>Teaching</a>
        <a>Seminar</a>
        <a>News</a>
        <hr>
    </div>
    <div>
        <p>
            EconCS@PKU group is based on the Center on Frontiers of Computing Studies (CFCS), Peking University. We are interested in the interdisciplinary research of computer science, economics, and social science in general. The focus of our current work is to build methodologies and systems with cutting-edge technologies from game theory, machine learning, statistics, information theory, randomized algorithms, cryptography and social economic theory. Areas of research include applications of the new methodologies/systems to a variety of social/economic topics, such as market design, crowdsourcing, internet economics, online education, linguistics, anthropology, etc.
        
        </p>
        <p>
            Current interests: 
            <br/>
            * Social economic science
            <br/>
            * Large market design
            <br/>
            * Equilibrium computation
            <br/>
            * Multi-agent Information System
            <br/>
            * Block-chain economics
            <br/>
        </p>
    </div>
    <hr>
    <div>
        <a>News</a>
    </div>
{% endblock body %}
