{% extends 'econcs_base.html' %}

{% block nav_home_active %}active{% endblock nav_home_active %}

{% block content %}

    <div class = "container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>
                    EconCS@PKU group is based on the Center on Frontiers of Computing Studies (CFCS), Peking University. We are interested in the interdisciplinary research of computer science, economics, and social science in general. The focus of our current work is to build methodologies and systems with cutting-edge technologies from game theory, machine learning, statistics, information theory, randomized algorithms, cryptography and social economic theory. Areas of research include applications of the new methodologies/systems to a variety of social/economic topics, such as market design, crowdsourcing, internet economics, online education, linguistics, anthropology, etc.
                </p>
                <p>
                    Current interests:
                    <ul>
                        <li>Social economic science</li>
                        <li>Large market design</li>
                        <li>Equilibrium computation</li>
                        <li>Multi-agent Information System</li>
                        <li>Block-chain economics</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
